/* styles.css */
body {
    font-family: Georgia, serif;
    background-color: #f5f5f5; /* Blanco hueso */
}
.chart-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}
